<section class="hero is-info">
    <div class="hero-body has-text-centered">
        <p class = "title" style="font-size:xxx-large;">
            Reservations
        </p>
    </div>
</section>

<table class="table has-text-centered" style=" margin-left: auto; margin-right: auto;">
  <thead>
    <tr>
      <th>Price</th>
      <th>Status</th>
      <th>Client</th>
      <th>Employee</th>
      <th>Offer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.price %></td>
        <td><%= reservation.status %></td>
        <td><%= reservation.client_id %></td>
        <td><%= reservation.employee_id %></td>
        <td><%= reservation.offer_id %></td>
        <td><%= link_to 'Show', reservation, class: "button is-primary" %></td>
        <td><%= link_to 'Cancel', reservation, method: :delete, data: { confirm: 'Are you sure?' }, class: "button is-primary" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reservation', new_reservation_path %>
