<%= form_with(model: offer, local: true) do |form| %>
  <% if offer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(offer.errors.count, "error") %> prohibited this offer from being saved:</h2>

      <ul>
      <% offer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ta_name %>
    <%= form.text_field :ta_name %>
  </div>

  <div class="field">
    <%= form.label :uid %>
    <%= form.text_field :uid %>
  </div>

  <div class="field">
    <%= form.label :transport %>
    <%= form.text_field :transport %>
  </div>

  <div class="field">
    <%= form.label :accomodation %>
    <%= form.text_field :accomodation %>
  </div>

  <div class="field">
    <%= form.label :event %>
    <%= form.text_field :event %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
