<p id="notice"><%= notice %></p>

<section class="hero is-info">
    <div class="hero-body has-text-centered">
        <p class = "title" style="font-size:xxx-large;">
            Travel Offers
        </p>
    </div>
</section>

<table class="table has-text-centered" style=" margin-left: auto; margin-right: auto;">
  <thead>
    <tr>
      <th>Ta name</th>
      <th>Uid</th>
      <th>Transport</th>
      <th>Accomodation</th>
      <th>Event</th>
      <th>Organizer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @offers.each do |offer| %>
      <tr>
        <td><%= offer.ta_name %></td>
        <td><%= offer.uid %></td>
        <td><%= offer.transport %></td>
        <td><%= offer.accomodation %></td>
        <td><%= offer.event %></td>
        <td><%= offer.organizer_id %></td>
        <td><%= link_to 'Show', offer, class: "button is-primary"%></td>
        <td><%= link_to 'Edit', edit_offer_path(offer), class: "button is-primary" %></td>
        <td><%= link_to 'Destroy', offer, method: :delete, data: { confirm: 'Are you sure?' }, class: "button is-primary" %></td>
        <td>
            <form accept-charset="UTF-8" method='post' action='/reservations'>
              <input type="submit" name='offer_id' value=<%= offer.id %> class="button is-primary">
            </form>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div  class="table has-text-centered" style=" margin-left: auto; margin-right: auto;">
  <%= link_to 'New Offer', new_offer_path, class: "button is-primary" %>
</div>
