<p id="notice"><%= notice %></p>

<p>
  <strong>Ta name:</strong>
  <%= @offer.ta_name %>
</p>

<p>
  <strong>Uid:</strong>
  <%= @offer.uid %>
</p>

<p>
  <strong>Transport:</strong>
  <%= @offer.transport %>
</p>

<p>
  <strong>Accomodation:</strong>
  <%= @offer.accomodation %>
</p>

<p>
  <strong>Event:</strong>
  <%= @offer.event %>
</p>

<p>
  <strong>Organizer:</strong>
  <%= @offer.organizer_id %>
</p>

<%= link_to 'Edit', edit_offer_path(@offer) %> |
<%= link_to 'Back', offers_path %>
